.header {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: xx-large;
}

.content-header {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: large;
  color: #cccccc;
  margin: 10px;
}

.content {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
}

input[type=text] {
  border: 2px solid #3d3d3d;
  border-radius: 4px;
  height: 30px;
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
}

.button {
  background-color: orange;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.content-list {
    margin-top: 50px;
    border: 2px solid #f1f1f1;
    height: 200px;
    width: "100%";
}